<?xml version="1.0"?>
<config>
    <modules>
        <Spranks_ConfigurableTierPrices>
            <version>2.1.0</version>
        </Spranks_ConfigurableTierPrices>
    </modules>
    <global>
        <models>
            <spranks_configurabletierprices>
                <class>Spranks_ConfigurableTierPrices_Model</class>
            </spranks_configurabletierprices>
        </models>
        <resources>
            <spranks_configurabletierprices_setup>
                <setup>
                    <module>Spranks_ConfigurableTierPrices</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </spranks_configurabletierprices_setup>
        </resources>
        <helpers>
            <spranks_configurabletierprices>
                <class>Spranks_ConfigurableTierPrices_Helper</class>
            </spranks_configurabletierprices>
        </helpers>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <spranks_configurabletierprices>
                        <class>spranks_configurabletierprices/observer</class>
                        <method>catalogProductGetFinalPrice</method>
                    </spranks_configurabletierprices>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Spranks_ConfigurableTierPrices>
                    <files>
                        <default>Spranks_ConfigurableTierPrices.csv</default>
                    </files>
                </Spranks_ConfigurableTierPrices>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <spranks_configurabletierprices>
            <general>
                <is_enabled>1</is_enabled>
                <disabled_for_category/>
            </general>
        </spranks_configurabletierprices>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Spranks_ConfigurableTierPrices/>
            </modules>
        </suite>
    </phpunit>
</config>
